<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Fish House Restaurant and Fish House Encore  in Key Largo, Florida Keys</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" content="The Fish House, Key Largo, features the best in local South Florida seafood. Visit our restaurant or have it shipped to your home. We ship everywhere!" />
<meta name="Keywords" content="seafood, restaurant, fresh, fish, shipped overnight, key, largo, shipping, fish, take-out, seafood, fish, seafood, fresh fish, restaurant, fish, conch, lobster, crab, take-out, seafood, florida, fish, shipping, seafood, clambake, restarant, take out, dining, lobster, Keys" />
<meta name="distribution" content="global" />
<meta name="googlebot" content="noodp" />
<meta name="revisit-after" content="7 days" />
<link href="body.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/stscode.js"></script>
<link rel="stylesheet" href="css/scroller.css"/>
<script type="text/javascript" language="JavaScript1.2" src="menu/stm31.js"></script>
<script type="text/javascript" src="js/encore/stscode.js"></script>
<script type="text/javascript" src="js/encore/stscode.js"></script>
<link href="css/encorescroller.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<style type="text/css">
.oneColFixCtrHdr #container #header table tr td strong {
	color: #F00;
	font-size: 24pt;
}
Cookbook {
	font-size: 36px;
}
#Cookbook {
	font-size: 36pt;
}
</style>
</head>
<body class="oneColFixCtrHdr" onLoad="MM_preloadImages('images/front/market-over.jpg','images/front/gifts-over.jpg','images/front/giftcard-over.jpg','images/front/bobby-over.jpg')">
<div id="container">
  <div id="header">
    <p align="center"><br />
    <img src="images/banner.png" alt="key largo restaurant the fish house" /> </p>
    <p align="center"><a href="awards.html" class="maintextfront">Reviews and Awards</a>    </p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor="#253E99"><span class="maintextfront">
          <script type="text/javascript" src="menu/fish-java.js"></script>
        </span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#007A65"><span class="maintextfront">
          <script type="text/javascript" src="menu/encore-java.js"></script>
        </span></td>
      </tr>
    </table>
    <h1 class="JWSOvFi0">
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="220" height="40">
        <param name="movie" value="TSPlayer/TSPlayerV2.1.swf" />
        <param name="quality" value="high" />
        <param name="wmode" value="transparent" />
        <param name="FlashVars" value="playlistfile=TSPlayer/playlist1.xml&configurationfile=TSPlayer/configuration1.xml" />
        <embed src="TSPlayer/TSPlayerV2.1.swf" quality="high" wmode="transparent" flashvars="playlistfile=TSPlayer/playlist1.xml&configurationfile=TSPlayer/configuration1.xml" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="220" height="40"></embed>
      </object>
    </h1>
    <table width="955" height="55" border="0">
      <tr>
        <td align="center"><p>&nbsp;</p></td>
      </tr>
    </table>
    <table width="954" border="0">
      <tr>
        <td width="469" class="headers"> <div align="center">The Fish House</div></td>
        <td width="469" class="headers"><div align="center">The Encore</div></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing=" cellpadding="0">
      <tr>
        <td width="434" valign="top"><span class="maintextfront">
          <script type="text/javascript" src="js/fh/fhscroller.js"></script>
        </span></td>
        <td width="82" valign="top">&nbsp;</td>
        <td width="419" valign="top"><span class="maintextfront">
          <script type="text/javascript" src="js/encore/encorescroller.js"></script>
        </span></td>
      </tr>
    </table>
    <p>&nbsp;</p>
</div>
  <div id="mainContent">
    <h1 class="headers"> Key Largo Seafood Restaurant</h1>
    <h1 class="maintext">Specializing in the finest seafood available, The Fish House opened just as the Conch
      Republic was born. Since the key to terrific seafood lies in the freshness,
      we made that our trademark.
      At our very doorstep we find one of the most prolific areas in the world for marine life,
      including a host of edible fish. Daily we supervise the harvest of the finest eating
      critters on earth, and we put them on your table while they are at their tastiest peak.
      Fresh-caught fish arrives daily at the dock and is brought directly to The Fish House.
      Our experienced staff hand picks the best fish, separating it by size, then weighing it.
      The fish are then carefully filleted on site, combined with only the freshest
      ingredients and spices, and cooked to perfection.      </h1>
    <h1 class="maintext">So relax. Get laid back like the locals do, and dig into our scrumptious
      conch-style cooking. Keys people know that fine fish meals start at
      The Fish House.
      If you don’t have time for <a href="fishhouselunch.html">lunch</a> or <a href="fishhousedinner.html">dinner</a>, check out the fish market.
      We’ll pack it up for your trip home, or we’ll ship it.
      You’ll be glad you did! </h1>
    <h1 class="maintext">Yours Truly,
      C.J., Doug, &amp; The Fish House Gang</h1>
    <div align="center"><a href="fishmarket.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/front/market-over.jpg',1)"><img src="images/front/market.jpg" alt="florida keys fish market" name="Image4" width="222" height="167" hspace="4" border="1" id="Image4" /></a><a href="apparel.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image5','','images/front/gifts-over.jpg',1)"><img src="images/front/gifts.jpg" alt="florida keys gifts" name="Image5" width="220" height="167" hspace="2" border="1" id="Image5" /></a><a href="gifts.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','images/front/giftcard-over.jpg',1)"><img src="images/front/giftcard.jpg" alt="key largo gift certificate" name="Image6" width="220" height="167" hspace="4" border="1" id="Image6" /></a><a href="bobby.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','images/front/bobby-over.jpg',1)"><img src="images/front/bobby.jpg" alt="bobby flay" name="Image7" width="220" height="167" border="1" id="Image7" /></a>
</div>
    <h2 class="headers">Florida Keys Seafood is Our Specialty</h2>
    <p class="maintext"><b>The Fish House specializes in fresh local seafood including yellowtail snapper, mahi-mahi, grouper, Florida lobster, and stone crab. Try our smoked fish - smoked right on the premises. Relax... Lay Back... Dig into our scrumptious conch-style cooking. We know how to serve seafood right! See what the reviewers have to say about us! </b></p>
    <p class="maintext"><b>The Fish House, Key Largo, features the best in local South Florida seafood. Visit our restaurant or have it shipped to your home. We ship everywhere! FRESH FISH is The Fish House's trademark, brought to the back door daily by fishermen, then filleted and prepared on premise... the finest in &quot;Conch-style&quot; cooking. </b></p>
    <p class="maintext"><span class="headers">Fish House Encore</span></p>
    <p class="maintext"><b>In late 2003, proprietors CJ and Doug opened The Fish House Encore, their second restaurant
      venture. Looking to offer their guests a new dining experience. Encore became a special
      extension of the landmark Fish House. Still serving the same fresh seafood but adding a
      selection of premium meats, exciting specials, and a sushi menu, Encore was born.
    We are proud of our menu and the variety of items we have to offer.</b></p>
    <p class="maintext"><b> So, relax, and welcome to our island. Get laid back like the locals do
      and enjoy our food, our music and the beautiful climate.
      Make sure you try one of our signature infusion martinis
      and you may also want to save room for our
      white chocolate baby grand piano dessert!</b></p>
  </div>
  <div id="footer">
    <div align="center">
      <p><span class="maintext"><a href="links.html">Links</a><br />
      </span><br />
      </p>
</div>
    <table width="274" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="91"><a href="http://www.facebook.com/pages/The-Fish-House-and-Encore-Key-Largo-Florida-Keys/408923158764" target="_blank"><img src="images/facebook.png" alt="find us on facebook" width="64" height="64" border="0" /></a></td>
        <td width="183"><script type="text/javascript">var addthis_pub="4a1302246ede29a4";</script>
          <a href="http://www.addthis.com/bookmark.php?v=20" onMouseOver="return addthis_open(this, '', '[URL]', '[TITLE]')" onMouseOut="addthis_close()" onClick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
          <script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>
&nbsp;</td>
      </tr>
    </table><div id="dot0" style="position: absolute; visibility: hidden; height: 28; width: 40;">
	<img src="yellowfish.gif" width="40" height="28">

</div>
<div id="dot1" style="position: absolute; height: 16; width: 24;">
	<img src="yellowfish.gif" width="40" height="28">
</div>
<div id="dot2" style="position: absolute; height: 16; width: 24;">
	<img src="yellowfish.gif" width="40" height="28">
</div>
<div id="dot3" style="position: absolute; height: 16; width: 24;">
	<img src="yellowfish.gif" width="40" height="28">
</div>
<div id="dot4" style="position: absolute; height: 16; width: 24;">
	<img src="yellowfish.gif" width="40" height="28">
</div>

<div id="dot5" style="position: absolute; height: 16; width: 24;">
	<img src="yellowfish.gif" width="40" height="28">
</div>
<div id="dot6" style="position: absolute; height: 16; width: 24;">
	<img src="yellowfish.gif" width="40" height="28"> 
</div>

<script LANGUAGE="JavaScript">
<!-- hide code

/*
*/

var nDots = 7;

var Xpos = 0;
var Ypos = 0;

  // fixed time step, no relation to real time
var DELTAT = .01;
  // size of one spring in pixels
var SEGLEN = 10;
  // spring constant, stiffness of springs
var SPRINGK = 10;
  // all the physics is bogus, just picked stuff to
  // make it look okay
var MASS = 1;
// Positive XGRAVITY pulls right, negative pulls left
// Positive YGRAVITY pulls down, negative up
var XGRAVITY = 0;
var YGRAVITY = 50;
// RESISTANCE determines a slowing force proportional to velocity
var RESISTANCE = 10;
  // stopping criterea to prevent endless jittering
  // doesn't work when sitting on bottom since floor
  // doesn't push back so acceleration always as big
  // as gravity
var STOPVEL = 0.1;
var STOPACC = 0.1;
var DOTSIZE = 10;
  // BOUNCE is percent of velocity retained when 
  // bouncing off a wall
var BOUNCE = 0.75;

var isNetscape = navigator.appName=="Netscape";

  // always on for now, could be played with to
  // let dots fall to botton, get thrown, etc.
var followmouse = true;

var dots = new Array();
init();

function init()
{
    var i = 0;
    for (i = 0; i < nDots; i++) {
        dots[i] = new dot(i);
    }
    
    if (!isNetscape) {
        // I only know how to read the locations of the 
        // <LI> items in IE
        //skip this for now
        // setInitPositions(dots)
    }
    
    // set their positions
    for (i = 0; i < nDots; i++) {
        dots[i].obj.left = dots[i].X;
        dots[i].obj.top = dots[i].Y;
    }
    
    
    if (isNetscape) {
        // start right away since they are positioned
        // at 0, 0
        startanimate();
    } else {
        // let dots sit there for a few seconds
        // since they're hiding on the real bullets
        setTimeout("startanimate()", 1000);
    }
}



function dot(i) 
{
    this.X = Xpos;
    this.Y = Ypos;
    this.dx = 0;
    this.dy = 0;
    if (isNetscape) {	
        this.obj = eval("document.dot" + i);
    } else {
        this.obj = eval("dot" + i + ".style");
    }
}


function startanimate() {	
    setInterval("animate()", 20);
}


// This is to line up the bullets with actual LI tags on the page
// Had to add -DOTSIZE to X and 2*DOTSIZE to Y for IE 5, not sure why
// Still doesn't work great
function setInitPositions(dots)
{
    // initialize dot positions to be on top 
    // of the bullets in the <ul>
    var startloc = document.all.tags("LI");
    var i = 0;
    for (i = 0; i < startloc.length && i < (nDots - 1); i++) {
        dots[i+1].X = startloc[i].offsetLeft
            startloc[i].offsetParent.offsetLeft - DOTSIZE;
        dots[i+1].Y = startloc[i].offsetTop +
            startloc[i].offsetParent.offsetTop + 2*DOTSIZE;
    }
    // put 0th dot above 1st (it is hidden)
    dots[0].X = dots[1].X;
    dots[0].Y = dots[1].Y - SEGLEN;
}

// just save mouse position for animate() to use
function MoveHandler(e)
{
    Xpos = e.pageX;
    Ypos = e.pageY;	  
    return true;
}

// just save mouse position for animate() to use
function MoveHandlerIE() {
    Xpos = window.event.x + document.body.scrollLeft;
    Ypos = window.event.y + document.body.scrollTop;	  
}

if (isNetscape) {
    document.captureEvents(Event.MOUSEMOVE);
    document.onMouseMove = MoveHandler;
} else {
    document.onmousemove = MoveHandlerIE;
}


function vec(X, Y)
{
    this.X = X;
    this.Y = Y;
}

// adds force in X and Y to spring for dot[i] on dot[j]
function springForce(i, j, spring)
{
    var dx = (dots[i].X - dots[j].X);
    var dy = (dots[i].Y - dots[j].Y);
    var len = Math.sqrt(dx*dx + dy*dy);
    if (len > SEGLEN) {
        var springF = SPRINGK * (len - SEGLEN);
        spring.X += (dx / len) * springF;
        spring.Y += (dy / len) * springF;
    }
}


function animate() {	
    // dots[0] follows the mouse,
    // though no dot is drawn there
    var start = 0;
    if (followmouse) {
        dots[0].X = Xpos;
        dots[0].Y = Ypos;	
        start = 1;
    }
    
    for (i = start ; i < nDots; i++ ) {
        
        var spring = new vec(0, 0);
        if (i > 0) {
            springForce(i-1, i, spring);
        }
        if (i < (nDots - 1)) {
            springForce(i+1, i, spring);
        }
        
        // air resisitance/friction
        var resist = new vec(-dots[i].dx * RESISTANCE,
            -dots[i].dy * RESISTANCE);
        
        // compute new accel, including gravity
        var accel = new vec((spring.X + resist.X)/MASS + XGRAVITY,
            (spring.Y + resist.Y)/ MASS + YGRAVITY);
        
        // compute new velocity
        dots[i].dx += (DELTAT * accel.X);
        dots[i].dy += (DELTAT * accel.Y);
        
        // stop dead so it doesn't jitter when nearly still
        if (Math.abs(dots[i].dx) < STOPVEL &&
            Math.abs(dots[i].dy) < STOPVEL &&
            Math.abs(accel.X) < STOPACC &&
            Math.abs(accel.Y) < STOPACC) {
            dots[i].dx = 0;
            dots[i].dy = 0;
        }
        
        // move to new position
        dots[i].X += dots[i].dx;
        dots[i].Y += dots[i].dy;
        
        // get size of window
        var height, width;
        if (isNetscape) {
            height = window.innerHeight + window.pageYOffset;
            width = window.innerWidth + window.pageXOffset;
        } else {	
            height = document.body.clientHeight + document.body.scrollTop;
            width = document.body.clientWidth + document.body.scrollLeft;
        }
        
        // bounce off 3 walls (leave ceiling open)
        if (dots[i].Y >=  height - DOTSIZE - 1) {
            if (dots[i].dy > 0) {
                dots[i].dy = BOUNCE * -dots[i].dy;
            }
            dots[i].Y = height - DOTSIZE - 1;
        }
        if (dots[i].X >= width - DOTSIZE) {
            if (dots[i].dx > 0) {
                dots[i].dx = BOUNCE * -dots[i].dx;
            }
            dots[i].X = width - DOTSIZE - 1;
        }
        if (dots[i].X < 0) {
            if (dots[i].dx < 0) {
                dots[i].dx = BOUNCE * -dots[i].dx;
            }
            dots[i].X = 0;
        }
        
        // move img to new position
        dots[i].obj.left = dots[i].X;			
        dots[i].obj.top =  dots[i].Y;		
    }
}

// end code hiding -->
</script>
    <script type="text/javascript">
var sc_project=6930785; 
var sc_invisible=1; 
var sc_security="b99c2bdf"; 
    </script>
    <script type="text/javascript"
src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
    <noscript>
    </noscript>
  </div>
</div>
</body>
</html>
